<div class="container mt-5">
  <div class="row m-2 justify-content-center">
    <%# <% @rooms.each do |room| %>
      <%# <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3"> %>
        <%# <div class="card-activity"> %>
        <%# <%= image_tag activity.photo %> %>
        <%# <div class="card-activity-infos"> %>

           <div class="d-flex location"> <i class="mx-1 icon-location fas fa-map-marker-alt"></i> <p class="text-location"><%= "algo" %></p> </div>
        </div>
        </div>
      </div>
    <%# <% end %> %>
  </div>
</div>
