<div class="container mt-5">
  <div class= "navbar">
  <%# navbar %>
  <%= link_to "calendario", root_path %>
  <%= link_to "habitaciones", rooms_path %>
  <%= link_to "reservas", reservations_path %>
  <%= link_to "pagos", root_path %>
  </div>

</div>
